/*PARTE DO TITULO*/
*{
    font-family: 'Roboto';
    font-style: normal;
    box-sizing: border-box;
}

/* RESPONSIVIDADE  */

@media (max-width: 1100px){
    div .criar-quizz{
        width: 90%;
    }

    div .seus-quizz-criar{
        width: 90%;
        justify-content: space-between;
        margin: 140px auto 0px;
    }

    div .seus-quizzes{
        width: 90%;
    }

    div .quizzes-criados{
        flex-direction: column;
        
    }

    div .todos-quizzes{
        width: 90%;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
        justify-content: center;
        align-items: center;
    }

    div .quizzes{
        width: 90%;
        flex-direction: column;

    }

    div .quizz{
        width: 100%;
    }

    div .caixa-pergunta{
        width: 90%;
        height: auto;
    }
    div .titulo-pergunta{
        width: 100%;
        

    }
    div .resposta{
        width:50%;
       
        
    }
    div .resposta img{
        width: 100%;

    }

    div .fim-quizz{
        width: 90%;
        
        flex-direction: column;
    }
    div .imagem-fim img{
        width: 100%;
    }
    div .caixa-texto-fim{
        flex-direction: column;
    }
    .div .cx-dados-quizz{
        width: 100%;
    }
    div .cx-dados-quizz input{
        width: 100%;
    }
    div .grade-2 input{
        width: 100%;
    }
    div .grade-2{
        width: 100%;
    }
    div .grade-3{
        width: 100%;
        box-sizing: border-box;
    }
    div .grade-3 .quizz{
        width: 70%;
    }
}





/*COR DE FUNDO DE TODAS AS PÁGINAS*/
body {
    background-color:#FAFAFA ;
}

.titulo{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 10;

}

.titulo h1{
    color: #ffffff;
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
}
 

/* PAGINA 1 (ABAIXO)*/

.pagina1{

}

.criar-quizz{
    margin: 146px auto 0px;
    width: 1051px;
    height: 181px;
    border-radius: 5px;
    border: 1px dashed #D4D4D4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.criar-quizz p{
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #B9B9B9;
}

.criar-quiz-botao{
    width: 151px;
    height: 40px;
    border-radius: 50px;
    margin-top: 30px;
    border: 1px dashed #EC362D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.criar-quiz-botao p{
    color: #EC362D;
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;

}

.seus-quizzes{
    margin: 0px auto 0px;
    width: 1051px;
    height: 400px;
    padding: 1px;

}

.seus-quizz-criar{
    margin: 200px 21% 0px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   

}
.seus-quizz-criar p{
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    line-height: 23.44px;
    margin-right: 20px;
}

.quizzes-criados{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



.todos-quizzes{
    margin: 100px auto 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    
    padding: 7px;
}

.todos-quizzes div h3{
 
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}

.quizzes{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.quizz img{
    height: 181px;
    width: 340px;
}

.quizz{
    position: relative;
    margin-top: 15px;
    height: 181px;
    width: 340px;
    border-radius: 5px;
    margin-left: 20px;
    background-size: cover;
    box-sizing: border-box;
}


.quizz div{
    position: absolute;
    bottom: 23px;
    left: 10px;
    width: 100%;

}

.quizz div h3{
    color: #ffffff;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    width: 100%;
   
}

.quizz p {
    display:none;
}


.gradiente {
    height: 181px;
    width: 340px;
    /* o gradiente abaixo nao está funcionando */
    background-color: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.1%, #000000 100%);
    opacity: 1;
}





/* CLASSES UTILIZADAS NA PÁGINA 2 */

.pagina2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.capa-quiz {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 69px;
    width: 100%;
    height: 227px;
    /*background-image:linear-gradient(180deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(./img/narutin-sasukin.png);*/
    background-size:100% 227px;
    background-repeat: no-repeat;
}

.capa-quiz p {
    font-weight: 400;
    font-size: 39px;
    line-height: 45.7px;
    color: #ffffff;
}

.caixa-pergunta {
    width: 759px;
    height: 676px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.titulo-pergunta {
    width: 688.16px;
    height: 138px;
    /*background-color: aqua;*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: #ffffff;
    font-size: 23px;
    line-height: 27px;
}

.resposta img {
    width: 330px;
    height: 175px;
    object-fit: cover;
}

.respostas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}

.respostas p {
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    line-height: 23.44px;
    margin-top: 6px;
    margin-bottom: 15px;
}

.resposta {
    margin-top: 6px;
    margin-bottom: 6px;
}



.opaco {
    opacity: 0.3;
}

.clicado {
    opacity: 1;
}

.errou p{
    color: #FF4B4B;
}

.acertou p{
    color: #009C22;
}


.fim-quizz {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:759px;
    height: 430px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.titulo-fim-quizz {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EC362D;
    width: 95%;
    height: 100px;
}

.titulo-fim-quizz p{
    color: #FFFFFF;
    font-size: 23px;
    font-weight: 700;
    line-height: 26.95px;
}

.caixa-texto-fim {
    display: flex;
    justify-content: space-between;
    width: 95%;
    padding: 15px 0px;
}

.imagem-fim {
    width: 100%;
    height: 273px;
    margin-right: 10px;
}

.imagem-fim img {
    object-fit: fill;
    width: 364px;
    height: 273px;
}

.texto-fim {
    color: #484848;
    font-size: 19px;
    font-weight: 700;
    line-height: 25px;
}

.botao-reiniciar {
    margin-top: 50px;
    background-color: #EC362D;
    width: 260px;
    height: 52px;
    border-radius: 15px;
    color:#FFF5F4 ;
    font-weight: 400;
    font-size: 21px;
    line-height: 24.61px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-voltar {
    margin-top: 15px;
    color: #818181;
    font-size: 21px;
    font-weight: 400;
    line-height: 24.61px;
    width: 220px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* PAGINA 3 (PARTE 1) */


.pagina3{
}

.grade-1{
    margin: 140px 35% 0px;
    
}

.grade-1 h3{
    margin: 20px  30% 30px;
    width: 300px;
    font-weight: 700;
    font-size: 23px;
}
 
.cx-dados-quizz{
    height: 256px;
    width: 600px;
    margin: 50px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.cx-dados-quizz input{
    width: 564px;
    height: 46px;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
    padding-left: 10px;
    color: #BABABA;
    font-style: italic;
    font-size: 19px;
    font-weight: 400;
    margin: 10px 0px;
}

.prosseguir-criar-perguntas{
    height: 54px;
    width: 369px;
    background-color: #EC362D;
    border-radius: 15px;
    margin: 100px auto 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prosseguir-criar-perguntas{
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #FFF5F4;
}

.grade-2{
    width: 600px;
    margin: 150px auto;
    
}

.grade-2 h3{
    font-size: 23px;
    font-weight: 700;
    line-height: 27px;
    margin: 20px 30% 70px;
}

.grade-2 h4{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 15px;
}

.pergunta{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 190px;
}

.grade-2 input{ 
    width: 564px;
    height: 46px;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
    padding-left: 10px;
    margin: 5px 0px;
    color: #BABABA;
    font-style: italic;
    font-size: 19px;
    font-weight: 400;
}

.resposta-correta{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 190px;
}

.resposta-incorreta{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.incorreta{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.prosseguir-pra-niveis{
    width: 220.32px;
    height: 44px;
    border-radius: 15px;
    background-color: #EC362D;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 70px auto 30px;
}
.prosseguir-pra-niveis p{
    color: #ffffff;
    font-size: 21px;
    font-weight: 400;
}
.grade-3{
    width: 600px;
    margin: 150px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.grade-3 h3{
    font-size: 23px;
    font-weight: 700;
    line-height: 27px;
    margin-bottom: 80px;
}

.acessar-quizz p{
    color: #ffffff;
    font-size: 21px;
    font-weight: 400;
}

.acessar-quizz{
    width: 220.32px;
    height: 44px;
    border-radius: 15px;
    background-color: #EC362D;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px auto 30px;
}

.voltar-pra-home{
    width: 220.32px;
    height: 44px;
    margin: 70px auto 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.voltar-pra-home p{
    font-size: 21px;
    font-weight: 400;
    color: #818181;
}

.grade-niveis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nivel {
    padding: 10px 0px;
    background-color:#ffffff ;
    width: 600px;
    height: 316px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.nivel form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 316px;
    flex-direction: column;
    width: 100%;
}

.nivel input {
    width: 95%;
    height: 45px;
}

.botao-finalizar {
    background-color: #EC362D;
    border-radius: 15px;
    border: none;
    color: #FFFFFF;
    width: 324px;
    height: 54px;
    font-weight:400;
    font-size: 21px;
    line-height: 24.61px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-finalizar:hover {
    background-color:#f06962;
    cursor: pointer;
}

.escondido {
    display: none;
}