/*PARTE DO TITULO*/
*{
    font-family: 'Roboto';
    font-style: normal;
    box-sizing: border-box;
}

/*COR DE FUNDO DE TODAS AS PÁGINAS*/
body {
    background-color:#FAFAFA ;
}

.titulo{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.titulo h1{
    color: #ffffff;
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
}
/*DIV PAI DO CONTEÚDO DAS PÁGINAS */
.pai{
   
}
/* PAGINA 1 (ABAIXO)*/

.pagina1{

}

.criar-quizz{
    margin: 146px auto 0px;
    width: 1051px;
    height: 181px;
    border-radius: 5px;
    border: 1px dashed #D4D4D4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.criar-quizz p{
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #B9B9B9;
}

.criar-quiz-botao{
    width: 151px;
    height: 40px;
    border-radius: 50px;
    margin-top: 30px;
    border: 1px dashed #EC362D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.criar-quiz-botao p{
    color: #EC362D;
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;

}

.todos-quizzes{
    margin: 100px auto 0px;
    position: relative;
    width: 1100px;
    height: 420px;
   
    padding: 7px;
}

.todos-quizzes div h3{
    position: relative;
    top: 10px;
    left: 15px;  
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    
}

.quizzes{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.quizz img{
    height: 181px;
    width: 340px;
}

.quizz{
    position: relative;
    margin-top: 15px;
    height: 181px;
    width: 340px;
    border-radius: 5px;
    margin-left: 20px;
   
}


.quizz img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    
}

.quizz div{
    position: absolute;
    bottom: 15px;
    left: 10px;

}

.quizz div h3{
    color: #ffffff;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;

}

.quizz p {
    display:none;
}


.gradiente {
    height: 181px;
    width: 340px;
    /* o gradiente abaixo nao está funcionando */
    background-color: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.1%, #000000 100%);
    opacity: 1;
}





/* CLASSES UTILIZADAS NA PÁGINA 2 */

.pagina2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.capa-quiz {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 69px;
    width: 100%;
    height: 227px;
    /*background-image:linear-gradient(180deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(./img/narutin-sasukin.png);*/
    background-size:100% 227px;
    background-repeat: no-repeat;
}

.capa-quiz p {
    font-weight: 400;
    font-size: 39px;
    line-height: 45.7px;
    color: #ffffff;
}

.caixa-pergunta {
    width: 759px;
    height: 676px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.titulo-pergunta {
    width: 688.16px;
    height: 138px;
    /*background-color: aqua;*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: #ffffff;
    font-size: 23px;
    line-height: 27px;
}

.resposta img {
    width: 330px;
    height: 175px;
    object-fit: cover;
}

.respostas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}

.respostas p {
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    line-height: 23.44px;
    margin-top: 6px;
    margin-bottom: 15px;
}

.resposta {
    margin-top: 6px;
    margin-bottom: 6px;
}



.opaco {
    opacity: 0.3;
}

.errou p{
    color: #FF4B4B;
}

.acertou p{
    color: #009C22;
}


.escondido {
    display: none;
}

